<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Form</title>
</head>

<body>

<form th:action="@{/processStudentForm}" th:object="${student}" method="post">

<!--    object m jo student hh uska name same hona chahiye jo model m key bheja hh-->

    First Name: <input type="text" th:field="${student.firstName}" />
    <br><br>
    Last Name: <input type="text" th:field="${student.lastName}" />
<!--    when form is loaded spring MVC will read student from the model and then call student.getFirstName() nd lastName-->

    <select th:field="${student.country}">
        <option th:each="tempCountry:${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
    </select>


    <br><br>
    <input type="submit" value="Submit"/>

<!--    when form is submitted setter method will be called-->

</form>

</body>


</html>